a {
	color: inherit;
}

.all-members {
	margin-top: 8rem;
	margin-inline: auto;

	display: grid;
	gap: 6rem;
	row-gap: 8rem;
	grid-template-columns: repeat(2, 1fr);
}
.user:nth-child(2n) {
	position: relative;
	top: 6rem;
}

@media screen and (min-width: 720px) {
	.all-members {
		grid-template-columns: repeat(3, 1fr);
	}
	.user:nth-child(2n) {
		position: static;
	}
	.user:nth-child(3n + 2) {
		position: relative;
		top: 6rem;
	}
}

.App {
	max-width: 1080px;
	margin-inline: auto;
	padding: 2rem;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
header {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	align-items: flex-start;
	justify-content: start;
	gap: 3rem;
	margin: 2rem auto;
}

header h4 {
	font-size: 1.2rem;
	margin-bottom: 0.4rem;
}
header article {
	font-family: "Poppins", sans-serif;
	max-width: 40ch;
}

footer {
	text-align: center;
	width: 100%;
	color: #bdbdbd;
	padding: 12rem 0 6rem;
	font-family: "Poppins", sans-serif;
	font-weight: bold;
}
